body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}

form label, form input, form select, form button {
    display: block;
    margin: 10px 0;
}

#charts {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}
